<table border="1">

{{#each pictures}}
<tr>
<td><img class="item" src={{adress}}></td><td><img class="item" src={{height}}></td><td><img class="item" src={{numberoftoys}}></td>
</tr>
{{/each}}
</table>